# Basic Git
.git

# Jupyter Labs
.ipynb_checkpoints
*.ipynb

# Ctags Tags
tags

# Testing caches
.mypy_cache
.pytest_cache
pytest.ini
.envrc

*/__pycache__/

# Coverage Files
.coverage
test-reports


# Floobits
.floo*
logs

./config.yml

.idea
venv/
