[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
ipython = "*"
isort = "*"
jupyter = "*"
jupyterlab = "*"
mypy = "*"
pep8 = "*"
pudb = "*"
pydebug = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-picked = "*"
pytest-pudb = "*"
pytest-random-order = "*"
pytest-sugar = "*"
pytest-xdist = "*"
vcrpy = "*"
yapf = "*"
flootty = "*"

[packages]
slackclient = "*"
check-mk-web-api = {ref = "master",git = "https://github.com/robert-r-meyer/check-mk-web-api.git",editable = true}
pyyaml = "*"
pandas = "*"

[requires]
python_version = "3.6"
