interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://testing.host/master_dev/check_mk/webapi.py?effective_attributes=0&action=get_all_hosts&_username=automation&_secret=abd0c8c3-134e-4620-b7ef-5bd040bc8e0c
  response:
    body: {string: '{"result": {"gewrjd1dv": {"attributes": {}, "hostname": "gewrjd1dv",
        "path": "tests"}, "gewrpp1dv": {"attributes": {}, "hostname": "gewrpp1dv",
        "path": "tests"}}, "result_code": 0}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://testing.host/master_dev/check_mk/webapi.py?effective_attributes=0&action=get_all_hosts&output_format=json&_username=automation&_secret=abd0c8c3-134e-4620-b7ef-5bd040bc8e0c
  response:
    body: {string: '{"result": {"gewrjd1dv": {"attributes": {}, "hostname": "gewrjd1dv",
        "path": "tests"}, "gewrpp1dv": {"attributes": {}, "hostname": "gewrpp1dv",
        "path": "tests"}}, "result_code": 0}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://testing.host/master_dev/check_mk/webapi.py?effective_attributes=0&action=get_all_hosts&output_format=json&_username=automation&_secret=abd0c8c3-134e-4620-b7ef-5bd040bc8e0c
  response:
    body: {string: '{"result": {"gewrjd1dv": {"attributes": {}, "hostname": "gewrjd1dv",
        "path": "tests"}, "gewrpp1dv": {"attributes": {}, "hostname": "gewrpp1dv",
        "path": "tests"}}, "result_code": 0}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
